.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(68, 66, 66);
    width: 100%;
    height: auto;
    color: white;
}
.footer-details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem 0rem 1rem;
}
.address{
    padding: 0.8rem 0.4rem 0rem 0rem ;
}

@media only screen and (max-width: 576px){
    .footer-details{
        padding-top: 1rem;
        font-size: 0.7rem;
    }
    
    .address{
        font-size: 0.7rem;
    }
}